menu "Nursery Rhyme Song Selection"

    config SONG_INCLUDE_ALL
        bool "Include all songs (default)"
        default y
        help
            When enabled, all 20 songs are included. Disable to select individual songs.

    config SONG_TWINKLE
        bool "1. Twinkle Twinkle Little Star"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_MARY
        bool "2. Mary Had a Little Lamb"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_BAA_BAA
        bool "3. Baa Baa Black Sheep"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_LONDON_BRIDGE
        bool "4. London Bridge Is Falling Down"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_ROW_BOAT
        bool "5. Row Row Row Your Boat"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_JACK_JILL
        bool "6. Jack and Jill"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HUMPTY
        bool "7. Humpty Dumpty"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_ITSY_BITSY
        bool "8. Itsy Bitsy Spider"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_OLD_MACDONALD
        bool "9. Old MacDonald Had a Farm"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HICKORY
        bool "10. Hickory Dickory Dock"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_THREE_BLIND_MICE
        bool "11. Three Blind Mice"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HOT_CROSS_BUNS
        bool "12. Hot Cross Buns"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_FRERE_JACQUES
        bool "13. Frere Jacques"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_YANKEE_DOODLE
        bool "14. Yankee Doodle"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_POP_WEASEL
        bool "15. Pop Goes the Weasel"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_ROCK_A_BYE
        bool "16. Rock-a-Bye Baby"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HUSH_LITTLE_BABY
        bool "17. Hush Little Baby"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_WHEELS_BUS
        bool "18. Wheels on the Bus"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HEAD_SHOULDERS
        bool "19. Head Shoulders Knees and Toes"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HAPPY_KNOW_IT
        bool "20. If You're Happy and You Know It"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_THIS_OLD_MAN
        bool "21. This Old Man"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_FARMER_DELL
        bool "22. The Farmer in the Dell"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_BINGO
        bool "23. BINGO"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_LITTLE_TEAPOT
        bool "24. I'm a Little Teapot"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_ALOUETTE
        bool "25. Alouette"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_OH_SUSANNA
        bool "26. Oh! Susanna"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_COMING_ROUND
        bool "27. She'll Be Coming Round the Mountain"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_MUFFIN_MAN
        bool "28. The Muffin Man"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_SIXPENCE
        bool "29. Sing a Song of Sixpence"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_CLEMENTINE
        bool "30. Oh My Darling Clementine"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_DOWN_STATION
        bool "31. Down by the Station"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_FIVE_DUCKS
        bool "32. Five Little Ducks"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_BEAR_MOUNTAIN
        bool "33. The Bear Went Over the Mountain"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_LAVENDERS_BLUE
        bool "34. Lavender's Blue"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_MY_BONNIE
        bool "35. My Bonnie"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_POLLY_KETTLE
        bool "36. Polly Put the Kettle On"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_BO_PEEP
        bool "37. Little Bo Peep"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_HEY_DIDDLE
        bool "38. Hey Diddle Diddle"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_SKIP_TO_LOU
        bool "39. Skip to My Lou"
        default y
        depends on !SONG_INCLUDE_ALL

    config SONG_RAILROAD
        bool "40. I've Been Working on the Railroad"
        default y
        depends on !SONG_INCLUDE_ALL

endmenu
